
<!------ Include the above in your HEAD tag ---------->
<div class="container">
<div class="card">

  <div class="box">
    <div class="img">

      <img src="https://st2.depositphotos.com/5045705/8502/v/950/depositphotos_85024550-stock-illustration-healthy-food-chart.jpg">
    </div>
    <h2>Welcome Anand<br></h2>
    <hr>

    <button type="button" class="btn btn-success btn-lg btn-block">Place your order</button>
    <button type="button" class="btn btn-success btn-lg btn-block">Re-Order from history </button>
<hr>
    <span>
            <ul>
                <li><a href="app.order.component.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </span>
  </div>
</div>
</div>
