


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<!--<app-order-item></app-order-item>-->
<!--<app-order> </app-order>-->
<!--<app-header></app-header>-->

<!--&lt;!&ndash;<app-registration></app-registration>&ndash;&gt;-->

<!--<app-login></app-login>-->
<div class="container-fluid">

  <div class="card-header">
    <app-header></app-header>
  </div>

  <div class="card-body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="card-footer text-muted">
    <small>@copyright</small>&nbsp; F4food Application by Anand
  </div>
</div>


